<div class="w-100">
  <div class="col-lg-12  mx-auto p-5 text-center">
    <!-- <div><h1 style="color: #006738;">Go for
      <span id="health">Health.</span>
      Go for
      <span id="nature">Nature. </span>
      Go for
      <span id="davenben">Davenben.</span>

    </h1></div> -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4 p-3" id="content-left">
        <img src="/assets/contactus/logo.png">
        <div class="py-4">

        </div>
        <div class="text-justify font-weight-bold mt-2">
          Unit 1907, Jollibee Plaza, <br>
          F. Ortigas Jr. Ave. <br>
          (formerly Emerald Ave.) <br>
          Ortigas Center 1605 <br>
          Pasig City, Philippines <br><br>
          For more information, contact us: <br>
          Phone: +63 2 86388573 / +63 2 86388379 <br>
          Fax: +63 2 86319863 <br><br>
        </div>
      </div>

      <div class="col-md-6 w-100 pl-lg-5" id="content-right">
        <div class="uk-visible@s">
          <div class="row">
            <div class="col-4" style="padding-right: 0 !important;">
                <img src="/assets/contactus/1_memoplus.png">
            </div>
            <div class="col-4" style="padding-right: 0 !important;">
                <img src="/assets/contactus/2_cogent.png">
            </div>
            <div class="col-4" style="padding-right: 0 !important;">
                <img src="/assets/contactus/3_arthrid.png">
            </div>
          </div>
        </div>

        <div id="content-right-form" class="font-weight-bold w-100 text-justify p-3">
          FOR ORDERS AND INQUIRIES, SEND US A MESSAGE: <br><br>
          <form>
              <div class="form-group row">
                <label for="staticName" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="uk-input" id="staticName">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                  <input type="text" class="uk-input" id="staticEmail">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticMessage" class="col-sm-2 col-form-label">Message:</label>
                <div class="col-sm-10">
                    <textarea class="uk-input" id="staticMessage" rows="4"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <div class="row">
                      <div class="col-sm-5">
                          <button type="submit" class="btn btn-block btn-primary">Send</button>
                        </div>
                      <div class="col-sm-5">
                        <button class="btn btn-block btn-light">Clear</button>
                      </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
