
#content-left {
  background-color: white;
  border-radius: 5%;
}

#memoPlus-outerCircle {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 10px #c49851 solid;
  border-radius: 100%;
  transform: rotate(28deg);
  border-bottom-color: rgba(200, 54, 54, 0);
  border-right-color: rgba(200, 54, 54, 0);
}

#memoPlus {
  position: absolute;
  top: 30px;
  left: 42px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: url('src/assets/products/memoplus.png');
  background-size: 7vw;
  background-repeat: no-repeat;
  background-color: #c49851;
  color: white;
}

#memoPlusText {
  font-size: 0.9vw;
  margin-top: 12vh;
}

#cogent-outerCircle {
  position: absolute;
  left: 12.5vw;
  width: 250px;
  height: 250px;
  border: 10px #00a79c solid;
  border-radius: 100%;
  transform: rotate(59deg);
  border-top-color: rgba(200, 54, 54, 0);
  border-left-color: rgba(200, 54, 54, 0);
}

#cogent {
  position: absolute;
  top: 30px;
  left: 270px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: url('src/assets/products/COGENT.png');
  background-size: 7vw;
  background-repeat: no-repeat;
  background-color: #00a79c;
}

#cogentText {
  color: white;
  font-size: 0.9vw;
  margin-top: 12vh;
}

#arthrid-outer-Circle {
  position: absolute;
  left: 24vw;
  width: 250px;
  height: 250px;
  border: 10px #4283c0 solid;
  border-radius: 100%;
  transform: rotate(40deg);
  border-bottom-color: rgba(200, 54, 54, 0);
  border-right-color: rgba(200, 54, 54, 0);
}

#arthrid {
  position: absolute;
  top: 30px;
  left: 500px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: url('src/assets/products/ARTHRID.png');
  background-size: 7vw;
  background-repeat: no-repeat;
  background-color: #4283c0;
}

#arthridText {
  color: white;
  font-size: 0.9vw;
  margin-top: 12vh;
}

#content-right-form {
  background-color: #c1e8f9;
  border-radius: 5%;
  margin-top: 5vh;
}

#health {
  color: #f15a29;
}

#nature {
  color: #85d5f7;
}

#davenben {
  color: #8cc63f;
}
