<div class="uk-width-small position-absolute">
  <div uk-height-viewport="offset-bottom: 20">
    <div uk-height-viewport="offset-bottom: 20">
      <div style="z-index: 980;" uk-sticky="offset: 100; bottom: #top">
        <!-- <app-radialmenu></app-radialmenu> -->
      </div>
    </div>
  </div>
</div>
<div class="uk-width-expand">
  <router-outlet class="uk-inline"></router-outlet>
</div>
