<div id="mpgtips">
  <div class="w-100 position-absolute">
    <img
      src="/assets/products/memoplusgold/arc.png"
      class="w-100 position-absolute"
      alt=""
    />
  </div>
  <div id="tips" uk-parallax="bgy: 100">
    <div class="container" style="padding-top: 12%;">
      <div class="uk-width-xxlarge@m m-auto">
        <app-mpgtips></app-mpgtips>
        <app-bits></app-bits>
      </div>
    </div>
  </div>
</div>
