/* #mpgtips {
  background: url('/assets/products/memoplusgold/ing-bg.png');
  background-attachment: fixed;
  background-position-y: calc(0px);
} */
#tips {
  background-image: url('/assets/products/memoplusgold/ing-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
