<!-- <div class="container">
  <div class="content product-entry-container mx-auto pt-5">
    <div class="uk-text-center">
      <h1 style="color: #3a9948;">ABOUT DAVENBEN</h1>
    </div>
    <div class="uk-child-width-auto@m pt-2 ml-lg-5" uk-grid>
      <div class="circle about-image ml-lg-5" id="img1"></div>
      <div class="uk-width-expand@m uk-width-auto@m">
        <div class="w-75 m-auto">
          <h3>OUR STORY</h3>
          <p>
            Davenben Enterprises Corp. has been an established distributor of
            leading ayurvedic medicines in the Philippines for more than ten
            years now. Our flagship brands Cogent db+, Memo Plus Gold and
            Arthrid are produced by the most reputable botanical laboratories
            abroad. Davenben only wants the best and clinically tested herbal
            medicines and supplements that are economically accessible to every
            Filipino.
          </p>
        </div>
      </div>
    </div>
    <div class="uk-child-width-auto@m ml-lg-5" uk-grid>
      <div class="order-md-2">
        <div class="circle about-image" id="img2"></div>
      </div>
      <div class="uk-width-1-2@m order-md-1">
        <div class="w-75 m-auto">
          <h3>OUR PHILOSOPHY</h3>
          <p>
            Mother Nature knows best Nothing beats nature’s incredible abilities
            to heal. So Davenben makes sure that the health products are potent
            extracts of clinically proven medicinal plants and herbs.
          </p>
        </div>
      </div>
    </div>
    <div class="uk-child-width-auto@m ml-lg-5" uk-grid>
      <div><div class="circle about-image ml-lg-5" id="img3"></div></div>
      <div class="uk-width-expand@m">
        <div class="w-75 m-auto">
          <h3>Health is wealth, not an expense</h3>
          <p>
            Health care doesn’t need to be expensive, but efficient and
            effective. Davenben paves way for affordable and sustainable health
            care through natural health products.
          </p>
        </div>
      </div>
    </div>
    <div class="uk-child-width-auto@m ml-lg-5" uk-grid>
      <div class="order-md-2">
        <div class="circle about-image" id="img4"></div>
      </div>
      <div class="uk-width-1-2@m order-md-1">
          <div class="w-75 m-auto">
        <h3>OUR PHILOSOPHY</h3>

        <p>
          Mother Nature knows best Nothing beats nature’s incredible abilities
          to heal. So Davenben makes sure that the health products are potent
          extracts of clinically proven medicinal plants and herbs.
        </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-home></app-home>
