.circle {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  background-color: #f15a29;
  margin: 0 auto;
}

.circle-small {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-color: #f15a29;
  margin: 0 auto;
}

#img1 {
  background: url('src/assets/about/about-1.jpg');
  background-size: cover;
  border-radius: 50%;
}

#img2 {
  background: url('src/assets/about/about-2.jpg');
  background-size: cover;
  border-radius: 50%;
}

#img3 {
  background: url('src/assets/about/about-3.jpg');
  background-size: cover;
  border-radius: 50%;
}

#img4 {
  background: url('src/assets/about/about-4.jpg');
  background-size: cover;
  border-radius: 50%;
}

.content {
  padding-bottom: 15vh;
}

/* #line1 {
  width: 18vw;
  height: 1vh;
  border-bottom: 10px solid #8cc63f;
  transform:
      translateY(-20px)
      translateX(5px)
      rotate(33deg);
  position: absolute;
  top: 80vh;
  left: 35vw;
}

#line2 {
  width: 21vw;
  height: 1vh;
  border-bottom: 10px solid #f15a29;
  transform: rotate(146deg);
  position: absolute;
  top: 118vh;
  left: 32.5vw;
}

#line3 {
  width: 19vw;
  height: 1vh;
  border-bottom: 10px solid #85d5f7;
  transform:rotate(39deg);
  position: absolute;
  top: 164vh;
  left: 35.4vw;
} */
