#about-bg {
  margin-left: -90px;
  margin-top: -112px;
}

.about-header {
  color: #0c3525;
  font-size: 4em;
}

.cogentdb {
  color: #cd2027 !important;
}

.summary {
  font-weight: bolder;
}

.ul-content > li {
  font-size: 1.2em;
}
