<div class="container  pb-5">
  <div class="pt-md-3 pt-lg-5 text-justify@md" id="cogent-about">
    <div class="uk-grid uk-child-width-auto@m py-5">
      <div class="pt-3 uk-width-1-3@m uk-width-1-2 m-auto m-md-0 order-lg-2">
        <img src="/assets/products/cogent/landing.png" alt="" />
      </div>
      <div class="m-auto order-lg-1">
        <h3 class="pt-3 uk-hidden@l">
          If you are diabetic, <br />
          discover The Power of 9 Herbs
        </h3>
        <h2 class="pt-5 about-header uk-visible@l">
          If you are diabetic, <br />
          discover The Power of
        </h2>
        <h2 class="content-text">
          <i class="fas fa-arrow-circle-right pr-1"></i
          ><a href="/#/products/tips/cdb">See Health Bits here!</a>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md p-3 col-12">
        <h3 class="summary _darkgreen-header">
          Cogent db+ is a natural and herbal supplement that helps in the management of diabetes.
        </h3>
        <div>
          <p class="content-text">
            The Power of 9 herbs found in Cogent db+ lower blood and urinary glucose, as well as reduce HBA1C, glycated hemoglobin and proteinuria count.
          </p>
        </div>
      </div>
      <div class="col-md p-3 col-12">
        <h3 class="summary _darkgreen-header">
          COGENT db+ USED AS AN ADJUVANT THERAPY
        </h3>
        <div>
          <ul class="ul-content">
            <li class="content-text">Enhance beta-cells response to insulin</li>
            <li class="content-text">Normalize blood glucose</li>
            <li class="content-text">
              Sustain energy by promoting effective utilization of glucose
            </li>
            <li class="content-text">Improve liver and kidney functions</li>
            <li class="content-text">Restore liver enzymes</li>
            <li class="content-text">Prevent diabetic complications</li>
            <li class="content-text">Reduce the risk of diabetic gangrene</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="about-bg uk-visible@m pb-md-5">
    <img src="/assets/products/cogent/about-background.png" />
  </div>
</div>
