<div class="w-100 position-absolute" style="margin-top: -24px">
  <img
    src="/assets/products/arthrid/arc.png"
    class="w-100 position-absolute"
    alt=""
  />
</div>
<div class="w-100 position-absolute" style="z-index: 999">
  <div class="product-shop ml-auto pr-2 pr-md-5 pt-md-5" >
    <app-shopbtn [properties]='shop.arthrid'></app-shopbtn>
  </div>
</div>
<div id="arthrid" class="w-100 product pt-5 uk-animation-fade">
  <app-shared [displayElements]="displayElements"></app-shared>
</div>
