<div id="ing-comp" class="uk-visible@m" uk-parallax="bgy: 100">
  <div class="container py-5">
    <div class="uk-text-center"><h2 class="_blue-header">Ingredients</h2></div>
    <div class="p-5">
      <div style="margin-left: 20%;">
        <div id="boswellia" class="product-circle-container">
          <div class="product-circle-border">
            <div class="product-circle">
              <div class="position-absolute">
                <div id="boswellia-a" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img
                      src="/assets/products/arthrid/boswella-1.png"
                      alt="boswella-1"
                    />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
                <div id="boswellia-b" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img
                      src="/assets/products/arthrid/boswella-2.png"
                      alt="boswella2"
                    />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
                <div id="boswellia-c" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img
                      src="/assets/products/arthrid/boswella-3.png"
                      alt="boswella-3"
                    />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
              </div>
              <h3 class="uk-text-center pt-4 w-75 m-auto">BOSWELLIA SERRATA</h3>
              <p
                class="uk-text-center w-75 m-auto"
                style="  display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;"
              >
                Boswellia serrata or Salai guggul helps relieve pain, swelling
                and joint stiffness in patients with Osteoarthritis and
                Rheumatoid Arthritis, based on published clinical studies.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-left: 40%;">
        <div id="piper" class="product-circle-container">
          <div class="product-circle-border">
            <div class="product-circle">
              <div class="position-absolute">
                <div id="piper-a" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img src="/assets/products/arthrid/piper-1.png" alt="" />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
                <div id="piper-b" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img src="/assets/products/arthrid/piper-2.png" alt="" />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
                <div id="piper-c" class="product-circle-sub-outer">
                  <div class="product-circle-sub">
                    <img src="/assets/products/arthrid/piper-3.png" alt="" />
                    <div class="connector"><div class="line"></div></div>
                  </div>
                </div>
              </div>
              <h3 class="uk-text-center pt-4 w-75 m-auto">PIPER LONGUM</h3>
              <p
                class="uk-text-center w-75 m-auto"
                style="  display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;"
              >
                Piper longum or Pippali is a plant mainly used for its fruit,
                which is usually dried and used as a spice. It is known to
                possess anti-inflammatory, anti-arthritic, and analgesic pain
                (pain relieving) properties.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
