.product-circle {
  border-radius: 100%;
  background-color: white;
  height: 340px;
  width: 340px;
  border: 30px solid #cfe5ae;
  top: 10px;
  left: 10px;
  position: absolute;
}
.product-circle-border {
 height: 380px;
  width: 380px;
  max-height: 380px;
  max-width: 380px;
  border-radius: 100%;
  position: relative;
  border: 10px solid  #3a9948;
}
.product-circle-sub-outer {
height: 135px;
width: 135px;
background-image: linear-gradient(to bottom right, #3263ae, #348ccc, #63b9e8);
border-radius: 100%;
position: relative;
}
.product-circle-sub {
  top:20px;
  left:20px;
  height: 95px;
  width: 95px;
  background-color: red;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
}
.product-circle > p {
position: relative;
}
.product-circle-sub > .connector {
  height: 25px;
  width: 25px;
  top: -65px;
  left: 30px;
  background-color: #3a9948;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}
.connector>.line {
  width: 10px;
  height: 40px;
  position: absolute;
  left: 8px;
  z-index: -1;
}
#piper, #boswellia {
transform: scale(.8, .8);
}
[id*="-a"] > .product-circle-sub > img {
width:100%;
transform: rotate(130deg);
}
[id*="-b"] > .product-circle-sub > img {
width:100%;
transform: rotate(90deg);
}
[id*="-c"] > .product-circle-sub > img {
width:100%;
transform: rotate(45deg);
}
#piper-a {
  transform: rotate(-130deg);
  left: 294px;
  top: -100px;
}
#piper-b {
transform: rotate(-90deg);
left: 352px;
top: -60px;
}
#piper-c {
transform: rotate(-45deg);
left: 284px;
top: -12px;
}
#boswellia-a {
transform: rotate(130deg);
left: -150px;
top: -100px;
}
#boswellia-b {
transform: rotate(90deg);
left: -208px;
top: -60px;
}
#boswellia-c {
transform: rotate(45deg);
left: -139px;
top: -12px;
}


#ing-comp {
  background: url('/assets/products/arthrid/ing-bg.png');
  background-attachment: fixed;
  background-position-y: calc(0px);
  background-repeat: none;
  background-size: 100%;
  /* background-repeat: none;
  background-size: 100%; */
}
