<div id="clinicalstudies" class="container uk-visible@m">
  <div class="p-5 w-100 m-auto">
    <h2 class="uk-text-center _green-header">Clinical Studies</h2>
    <div *ngIf="!showContent" class="w-50 m-auto pt-3">
      <a (click)="showStudies()"
        ><img
          class="sleeping"
          src="/assets/products/memoplusgold/capsule-closed.png"
          alt=""
      /></a>
    </div>
    <div *ngIf="showContent" class="w-50 m-auto pt-3">
      <img src="/assets/products/memoplusgold/capsule.png" alt="" />
    </div>
    <div *ngIf="showContent" class="pt-2">
      <div class="uk-child-width-1-2" uk-grid>
        <div>
          <div class="uk-flex  uk-flex-right">
            <div class="w-25">
              <img
                class="milestone"
                src="/assets/products/memoplusgold/1959.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="pl-3 uk-text-left uk-inline d-flex align-items-center align-content-center">
          <p class="">
            Malhotra and Das reported a sedative effect of glycosides named
            hersaponins.
          </p>
        </div>
      </div>
      <div class="uk-child-width-1-2 py-2" uk-grid>
        <div>
            <p class="uk-text-right">
              Aithal and Sirsi found that the alcoholic extract, and to a lesser extent, the aqueous extract of the whole plant exhibited tranquilizing effects on albino rats and dogs. Prakash and Sirsi have found that the alcoholic extract of the plant and chlorpromazine improved the performance of rats in motor learning.
            </p>
        </div>
        <div class="uk-flex uk-flex-left">
          <div class="w-25">
            <img class="milestone"
            src="/assets/products/memoplusgold/1961.png"
            alt="" />
          </div>
        </div>
      </div>
      <div class="uk-child-width-1-2 mt-2 uk-animation-fade" uk-grid>
        <div>
          <div class="uk-text-right uk-inline">
            <div class="uk-flex  uk-flex-right">
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle2.png"
                  class="w-50"
                  alt=""
                />
              </div>
              <div class="w-25 ">
                <img
                  class="milestone"
                  src="/assets/products/memoplusgold/1971.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="mt-4">
              Sinha has reported that a single dose of the glycoside hersaponin
              is better than peritobarbitone in facilitating acquisition and
              retention of brightness discrimination reaction.
            </p>
          </div>
        </div>
      </div>
      <div class="uk-child-width-1-2 mt-2 uk-animation-fade" uk-grid>
        <div>
          <div>
            <p class="uk-text-right mt-5">
              The evaluation of the traditional claims of Brahmi was initiated
              by investigating its effect on the acquisition, consolidation and
              retention of three newly acquired behavioral responses in albino
              rats. (Singh and Dhawan)
            </p>
            <div class=" uk-flex uk-flex-right">
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle.png"
                  class="w-50"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-text-right uk-inline">
            <div class="uk-flex  uk-flex-left">
              <div class="w-50">
                <img src="/assets/products/memoplusgold/1977.png" alt="" />
              </div>
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle.png"
                  class="w-50"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-child-width-1-2 mt-2 uk-animation-fade" uk-grid>
        <div>
          <div class="uk-text-right uk-inline">
            <div class="uk-flex  uk-flex-right">
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle2.png"
                  class="w-50"
                  alt=""
                />
              </div>
              <div class="w-50">
                <img src="/assets/products/memoplusgold/1966.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="mt-5">
              The safety and tolerability of bacosides in 51 healthy human volunteers were assessed.
(Asthana, et al. 1996). It was found that single oral doses of 20-200 mg or 100 and 200
mg once daily for 4 weeks were safe and did not produce any reaction or side effect.
            </p>
            <div class="w-25">
              <img
                src="/assets/products/memoplusgold/particle2.png"
                class="w-50"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="uk-child-width-1-2 mt-2 uk-animation-fade" uk-grid>
        <div>
          <div>
            <p class="uk-text-right mt-5">
              Findings published in Psychopharmacology (2001) 156: 481-484 showed test results that Brahmi significantly improved visual information processing. This is based on studies conducted at the Swinburne University in Australia.
            </p>
            <div class=" uk-flex uk-flex-right">
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle.png"
                  class="w-50"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-text-right uk-inline">
            <div class="uk-flex  uk-flex-left">
              <div class="w-50">
                <img src="/assets/products/memoplusgold/2001.png" alt="" />
              </div>
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle.png"
                  class="w-50"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-child-width-1-2 mt-2 uk-animation-fade" uk-grid>
        <div>
          <div class="uk-text-right uk-inline">
            <div class="uk-flex  uk-flex-right">
              <div class="w-25">
                <img
                  src="/assets/products/memoplusgold/particle2.png"
                  class="w-50"
                  alt=""
                />
              </div>
              <div class="w-50">
                <img src="/assets/products/memoplusgold/2001-2.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>
            <p class="mt-5">
              A significant improvement in logical memory, forward digit span and paired associate learning has been observed from the fourth week onward in the group treated with the standardized extract without showing any side effect.
            </p>
            <div class="w-25">
              <img
                src="/assets/products/memoplusgold/particle2.png"
                class="w-50"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-text-center broken-lines py-5 my-5 mx-auto w-50">
      <h4 class="mb-0">
        Click <a href="/assets/products/memoplusgold/clinicalstudy.pdf" target="_blank">HERE</a> to read the complete details.
      </h4>
    </div>
  </div>
</div>

<div id="clinicalstudies" class="container uk-hidden@m">
    <h2 class="uk-text-center _green-header">Clinical Studies</h2>
  <div class="uk-width-1-2 m-auto">
      <img
      class="milestone"
      src="/assets/products/memoplusgold/capsule.png"
      alt=""
    />
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/1959.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p class="pt-4">
        Malhotra and Das reported a sedative effect of glycosides named hersaponins.
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/1961.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        Aithal and Sirsi found that the alcoholic extract, and to a lesser extent, the aqueous extract of the whole plant exhibited tranquilizing effects on albino rats and dogs. Prakash and Sirsi have found that the alcoholic extract of the plant and chlorpromazine improved the performance of rats in motor learning.
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/1971.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        Sinha has reported that a single dose of the glycoside hersaponin is better than peritobarbitone in facilitating acquisition and retention of brightness discrimination reaction.
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/1977.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        The evaluation of the traditional claims of Brahmi was initiated by investigating its effect on the acquisition, consolidation and retention of three newly acquired behavioral responses in albino rats. (Singh and Dhawan)
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/1966.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        The safety and tolerability of bacosides in 51 healthy human volunteers were assessed. (Asthana, et al. 1996). It was found that single oral doses of 20-200 mg or 100 and 200 mg once daily for 4 weeks were safe and did not produce any reaction or side effect.
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/2001.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        Findings published in Psychopharmacology (2001) 156: 481-484 showed test results that Brahmi significantly improved visual information processing. This is based on studies conducted at the Swinburne University in Australia.
      </p>
    </div>
  </div>
  <div uk-grid>
    <div class="w-25">
      <img
        class="milestone"
        src="/assets/products/memoplusgold/2001-2.png"
        alt=""
      />
    </div>
    <div class="uk-width-expand">
      <p>
        A significant improvement in logical memory, forward digit span and paired associate learning has been observed from the fourth week onward in the group treated with the standardized extract without showing any side effect.
      </p>
    </div>
  </div>
  <div class="uk-text-center broken-lines py-5 my-5">
    <h4 class="mb-0">
      Click <a href="/assets/products/memoplusgold/clinicalstudy.pdf" target="_blank">HERE</a> to read the complete details.
    </h4>
  </div>
</div>
