<div class="uk-card pt-5">
  <div class="w-75 m-auto">
    <img src="/assets/products/memoplusgold/tip1.png" alt="" />
  </div>
  <div class="pt-5 ">
    <h3 class="tips-header">Be #BrainyGood in school!</h3>
  </div>

  <p class="content-text">
    Students excel when they have good study habits which can help improve their efficiency in learning and managing their student life with ease. Good examples are: planning and scheduling specific times for studying every day, setting realistic study goals, doing the hardest assignments first and reviewing notes.
  </p>
  <p class="content-text mb-1">
    SOURCE:
  </p>
  <p class="content-text mt-1 mb-1">
    <a href="https://www.cmich.edu/">
      Central Michigan University
    </a>
  </p>
  <p class="content-text mt-1">
    <a href="https://www.developgoodhabits.com/">
      Develop Good Habits
    </a>
  </p>
</div>

<div class="uk-card pt-5">
  <div class="w-75 m-auto">
    <img src="/assets/products/memoplusgold/tip2.png" alt="" />
  </div>
  <div class="pt-5 "><h3 class="tips-header">Memorize This!</h3></div>

  <p class="content-text">Get ready to memorize and ace your exams!</p>
  <p class="content-text">
    Start by organizing your stuff. A cluttered space affects our brain’s
    ability to memorize, so tidy up your studying room and arrange your notes.
    Once you’re settled in a clutter-free space, get creative and find the best
    ways to memorize. You can use mnemonics and rhyming words. You can also
    associate your notes to music for better retention.
  </p>
  <p class="content-text">
    Lastly, it is essential to get a good night’s sleep before your exam. Sleeping helps your brain to relax and calm your nerves. This will also allow you to retain information better. 
  </p>
  <p class="content-text mb-1">
    SOURCE:
  </p>
  <p class="content-text mt-1 mb-1">
    <a href="https://www.oxford-royale.co.uk/">
      Oxford Royale Academy
    </a>
  </p>
</div>
