.right-panel {
  max-height: 450px;
  overflow-y: scroll;

  padding-left: 60px !important;
}

@media only screen and (min-width: 1024px) {
  .right-panel {
    min-height: 450px;
    max-height: 750px;
    overflow-y: scroll;
  }

  #container {
    height: 755px !important;
    min-height: 755px !important;
  }
}
