<div id="container" class="py-5" uk-grid>
  <div class="uk-width-1-3@m left-panel">
    <ul class="uk-tab-left nav-bar-grid" #bind >
      <li
        *ngFor="let data of dataSource.childElements[0].placeholderContent"
        class="uk-width-1-1 uk-width-medium@m"
      >
        <a href="#">
          <div class="uk-card uk-card-default p-3">
            <div class="uk-card-title">{{ data.title }}</div>
            <div class="uk-card-body">{{ data.subTitle }}</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="uk-width-expand@m right-panel">
    <ul id="component-{{dataSource.placeholderInput}}" class="uk-switcher">
      <li *ngFor="let data of dataSource.childElements[0].placeholderContent">
        <h3>{{ data.bodyTitle }}</h3>
        <div>
          <ul
            *ngIf="data.bodyType === 'list'"
            class="uk-list uk-list-large uk-list-divider"
          >
            <li *ngFor="let items of data.bodyContent">{{ items }}</li>
          </ul>
          <div *ngIf="data.bodyType === 'text'">
            <p class="content-text">{{ data.bodyContent }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

