<div id="landing" uk-parallax="bgy: 90">
  <div class="uk-flex uk-flex-center">
    <div class="w-50 uk-visible@m m-auto">
      <img src="/assets/davenben.gif" class="w-100" alt="" />
    </div>
    <div class="w-50 uk-hidden@m  m-auto pt-3">
      <img src="/assets/davenbenvertical.gif" class="w-100" alt="" />
    </div>
  </div>

  <div class="py-5 container">
    <div class="uk-width-xlarge@m  m-auto">
      <h1 class="uk-text-center">Our Story</h1>
      <p class="content-text uk-text-justify">
        Davenben Enterprises Corporation upholds the power of nature to sustain and
        improve life and health. And because we also advocate every man&#39;s
        right to safe, effective and quality health care products, it is our mission
        to deliver only the best and clinically tested herbal medicines and
        supplements that are economically accessible to every Filipino.
      </p>
      <p class="content-text uk-text-justify">
        For more than 15 years now, Davenben Enterprises Corporation has been
        providing leading herbal supplements in the Philippines.
      </p>
    </div>
  </div>
</div>
<div class="w-100">
  <div class="uk-flex uk-flex-center uk-flex-wrap uk-child-width-1-4@m py-5">
    <div class="mx-3">
      <div class="uk-flex uk-flex-center">
        <img class="circle" src="./assets/about/about-2.jpg" alt="" />
      </div>
      <h3 class="uk-text-center">OUR BRANDS</h3>
      <p class="content-text uk-text-justify">
        Our flagship brands Memo Plus Gold, Arthrid, and Cogent db+ are produced
        by the most reputable botanical laboratories abroad. In solid
        collaboration with our international partners, we continue to provide
        natural and affordable health products that can make modern miracles
        happen—our way of re-introducing man to the abundant wealth and power of
        nature.
      </p>
    </div>
    <div class="mx-3">
      <div class="uk-flex uk-flex-center">
        <img class="circle" src="./assets/about/about-5.png" alt="" />
      </div>
      <h3 class="uk-text-center">OUR PHILOSOPHY</h3>
      <p class="content-text uk-text-justify">
        Mother Nature knows best.
      </p>
      <p class="content-text uk-text-justify">
        What conventional medicine can't, we believe Mother Nature can. That's
        because man has an innate affinity and relation to nature. Thus, we
        believe nothing beats nature's incredible abilities to heal and preserve
        life. Based on this principle, we supply health products made only from
        the potent extracts of clinically proven medicinal plants and herbs.
      </p>
    </div>
    <div class="mx-3">
      <div class="uk-flex uk-flex-center">
        <img class="circle" src="./assets/about/about-4.jpg" alt="" />
      </div>
      <h3 class="uk-text-center">OUR MISSION</h3>
      <p class="content-text uk-text-justify">
        We aim for QUALITY, EQUALITY, and COMMITMENT in our mission to be your
        partner in pursuing a life of good health, nurturing lifestyle, and
        overall wellness.
      </p>
    </div>
  </div>
</div>
<div class="w-100 uk-inline">
  <div class="uk-flex uk-flex-center uk-flex-wrap uk-child-width-1-4 py-5 w-100">
    <div class="mx-2 mx-md-3">
      <div class="uk-flex uk-flex-center">
        <img class="w-100 h-50 product-link" src="./assets/products/memoplus.png" alt="" [routerLink]="['/products/mpg']"/>
      </div>
      <div class="w-50 m-auto">
        <app-shopbtn [properties]='shop.mpg'></app-shopbtn>
      </div>
    </div>
    <div class="mx-2 mx-md-3">
      <div class="uk-flex uk-flex-center">
        <img class="w-100 h-50 product-link" src="./assets/products/ARTHRID.png" alt="" [routerLink]="['/products/arthrid']"/>
      </div>
      <div class="w-50 m-auto">
          <app-shopbtn [properties]='shop.arthrid'></app-shopbtn>
      </div>
    </div>
    <div class="mx-2 mx-md-3">
      <div class="uk-flex uk-flex-center">
        <img class="w-100 h-50 product-link" src="./assets/products/COGENT.png" alt="" [routerLink]="['/products/cdb']"/>
      </div>
      <div class="w-50 m-auto">
        <app-shopbtn [properties]='shop.cdb'></app-shopbtn>
      </div>
    </div>
  </div>
</div>
