#landing {
    width: 100%;
    min-height: 30vh;
    background-color: #8cc444;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url('/assets/nature.jpg');
    background-attachment: fixed;
    background-position: center;
}

.product-link{
  cursor: pointer;
}
#cards {
    margin-bottom: 100px;
}

#footer {
    font-size: .8em;
    font-weight: bolder;
    color: white;
}

.circle {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  /* background-color: #f15a29; */
  margin: 0 auto;
}

h2, h3, h4 {
  color: #8cc445;
}
