p.content-text
{
	font-size: 1em;
}

a.content-text {
  font-size: .8em;
}

@media screen and (min-width: 1200px) {

  a.content-text {
    font-size: .7em !important;
  }

	.uk-card-title {
		font-size: 1.5em !important;
		line-height: 1.4;
	}
	#tips {
		background-size: 100% !important;
	}
}
