<div class="container">
  <div class="uk-grid pt-5">
    <div class="mt-md-0 mt-4 uk-width-3-4">
      <h1 class="title-header">YOUR GLYCEMIC INDEX GUIDE</h1>
      <div class="mt-2">
        <h3>
          If you have diabetes, then you must know how to use the glycemic index
          (GI). Here’s an easy way to track how your daily
          carbohydrate-containing food can boost your blood sugar.
        </h3>
      </div>
    </div>
    <div class="uk-width-1-4 m-auto">
      <img src="/assets/products/cogent/diabeatit/diabeatit-logo.png" />
    </div>
  </div>
</div>
