.white-text {
  color: white;
}

.col-title {
  height: 130px;
  background-color: #2cb673;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.col-contents {
  border: 7px white solid;
  border-radius: 50px;
}

.col-minor-content {
  background-image: url('/assets/products/cogent/diabeatit/page1-bg.jpg');
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
