<div id="ing-comp" class="m-auto px-2 py-3 ing">
  <div id="ing-mobile" class="uk-hidden@m">
    <div>
      <div class="uk-grid">
        <div class="uk-margin-auto">
          <h3>
            BACOPA MONNIERA <br />
            (Brahmi)
          </h3>
        </div>
        <div class="uk-width-1-3 uk-margin-auto">
          <img
            src="/assets/products/memoplusgold/bacopamoniera.png"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="uk-grid px-3 uk-child-width-1-2">
      <div>
        <div class="uk-card uk-card-arhtrid my-3 mx-0 p-4">
          <p class="uk-text-center">
            Increases intelligence, longevity and circulation in the brain
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-arhtrid my-3 mx-0 p-4">
          <p class="uk-text-center">
            Improves both short term & long term memory
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-arhtrid my-3 mx-0 p-4">
          <p class="uk-text-center">Decreases senility and aging</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-arhtrid my-3 mx-0 p-4">
          <p class="uk-text-center">
            Fortifies the immune system by cleansing and nourishing it.
          </p>
        </div>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-arhtrid my-3 mx-0 p-4 ">
          <p class="uk-text-center">
            Relieves stress with its nerve-calming effects.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="ing-desktop" class="m-auto w-75 uk-visible@m">
    <div class="w-50 m-auto py-5">
      <img src="/assets/products/memoplusgold/ing.png" alt="" />
    </div>
    <div class="pb-5 w-75 m-auto">
      <h2 class="uk-text-center">Ingredients</h2>
      <p class="content-text pt-4 pt-md-0 uk-text-center">
        Bacopa monniera, also known as Brahmi, traces its memory enhancing effects to a mixture of triterpenoid saponins designated as Bacosides A and B.
      </p>
      <p class="content-text pt-4 pb-5 pt-md-0 uk-text-center">
        Bacopa monniera is a plant commonly found along marshes and pond edges. It is used to increase the retention of information, improve learning and provide a feeling of well-being. Brahmi (scientific name: Bacopa monniera) belongs to the Scrophulariaceac family. Manufactured under a process that meets the stringent World Health Organization’s guidelines, MEMO PLUS GOLD has been approved as a safe traditional remedy.
      </p>
    </div>
  </div>
</div>
