.uk-card-arhtrid {
  background-color: #FDF6AF;
  font-weight: 600;
}

.ing {
  background-color: #CEE4AE;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product {
  background-color: #b1cf44;
}


.product-entry {
  padding-bottom: 2vw;
  padding-top: 2vw;
  min-height: 30vh;
  /* background-color: #ace0f0; */
}

#ingredient {
  width: 421px;
  height: 421px;
  border-radius: 100%;
  border: 10px solid #8cc63f;
}

#ingredient>.circle {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #b3d34b;
  border: 10px solid #93cb75;
}

#increase {
  top: -70px;
  left: 90px;
}

#decrease {
  top: 300px;
  left: 130px;
}

#fortify {
  top: 80px;
  left: 320px;
}

#improve {
  top: 120px;
  left: -100px;
}

#bacopamoniera {
top: 115px;
left: 105px;
}

#ing-comp {
  background: url('/assets/products/memoplusgold/ing-bg.png');
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#ing-desktop, #ing-mobile {
  padding-top: 10%;
  padding-bottom: 10%;
}
