.uk-card-title {
    background-color: #4b599c;
    color: white;
    font-weight: 500;
}

.uk-card>p {
    margin-top: 0px !important;
    background-color: #48c4d3;
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}

@media screen and (min-width: 800px) {
  .uk-card>p {
    font-size: 1.3em;
  }
}
