<ng-container [ngSwitch]="card.mediaType">

  <ng-template #cardTemplate>
    <ng-container *ngSwitchCase="'right'">
      <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
        uk-grid
      >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
          <img src="/assets/light.jpg" alt="" uk-cover />
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">{{ card.title }}</h3>
            <p>{{ card.body }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'left'">
      <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
        uk-grid
      >
        <div class="uk-card-media-left uk-cover-container">
          <img src="/assets/light.jpg" alt="" uk-cover />
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">{{ card.title }}</h3>
            <p>{{ card.body }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'plain'">
      <div class="py-2 py-lg-3" *ngFor="let card of dataSource">
        <div class="uk-card uk-card-body">
          <h3 class="uk-card-title">{{ card.title }}</h3>
          <p>{{ card.body }}</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="py-2 py-lg-3" *ngFor="let card of dataSource">
        <div class="uk-card uk-card-default">
          <h3 class="uk-card-title m-0 p-3">{{ card.title }}</h3>
          <p class="p-3">{{ card.body }}</p>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-container *ngTemplateOutlet="cardTemplate"> </ng-container>
</ng-container>
