<div id="bits">
  <div class="py-md-5">
    <div class="py-md-5 py-3">
      <h2>
        Back To School Tips <br />
        From Memo Plus Gold
      </h2>
    </div>
    <div id="b2s" class="circle m-auto py-md-5 uk-visible@m">
      <div id="sleep" class="item">
        <img src="/assets/products/memoplusgold/sleep.png" alt="" />
      </div>
      <div id="procrastinate" class="item">
        <img src="/assets/products/memoplusgold/procrastinate.png" alt="" />
      </div>
      <div id="boost" class="item">
        <img src="/assets/products/memoplusgold/boost.png" alt="" />
      </div>
      <div id="positive" class="item">
        <img src="/assets/products/memoplusgold/positive.png" alt="" />
      </div>
      <div id="planner" class="item">
        <img src="/assets/products/memoplusgold/planner.png" alt="" />
      </div>
    </div>
  </div>

  <!-- Desktop Cards: Stack Up On Brain Boosters -->
  <div class="uk-visible@m">
    <div>
      <h3 class="bits-header">Stock up on brain boosters</h3>
    </div>

    <p class="content-text">
      Certain nutrients help enhance cognitive abilities and protect the brain
      from damage, promoting repair and counteracting the effects of aging.
    </p>

    <div>
      <div class="ml-0" uk-grid>
        <div
          class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1 mr-md-3 uk-text-center uk-card-body uk-flex uk-flex-center uk-flex-middle"
        >
          <h3>
            Omega 3 <br />
            Fatty Acids
          </h3>
        </div>
        <div
          class="uk-card uk-card-default uk-width-expand ml-0 uk-card-body uk-flex uk-flex-center uk-flex-middle"
          uk-grid
        >
          <div class="uk-wdith-1-3">Salmon, Flax Seeds, Walnuts</div>
          <div class="uk-width-1-2 uk-visible@m">
            <img
              src="/assets/products/memoplusgold/bit1.png"
              class="w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="mt-3 ml-0" uk-grid>
        <div
          class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1 mr-md-3 uk-text-center uk-card-body uk-flex uk-flex-center uk-flex-middle"
        >
          <h3>Flavonoids</h3>
        </div>
        <div
          class="uk-card uk-card-default uk-width-expand ml-0 uk-card-body uk-flex uk-flex-center uk-flex-middle"
          uk-grid
        >
          <div class="uk-wdith-1-3">Green Tea, Dark Chocolate</div>
          <div class="uk-width-1-2 uk-visible@m">
            <img
              src="/assets/products/memoplusgold/bit2.png"
              class="w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="mt-3 ml-0" uk-grid>
        <div
          class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1 mr-md-3  uk-text-center uk-card-body uk-flex uk-flex-center uk-flex-middle"
        >
          <h3>Vitamin D</h3>
        </div>
        <div
          class="uk-card uk-card-default uk-width-expand ml-0 uk-card-body uk-flex uk-flex-center uk-flex-middle"
          uk-grid
        >
          <div class="uk-wdith-1-3">Fish Liver, Mushrooms, Soy Milk</div>
          <div class="uk-width-1-2 uk-visible@m">
            <img
              src="/assets/products/memoplusgold/bit3.png"
              class="w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="mt-3 ml-0" uk-grid>
        <div
          class="uk-card uk-card-default uk-width-1-4@m uk-width-1-1 mr-md-3 uk-text-center uk-card-body uk-flex uk-flex-center uk-flex-middle"
        >
          <h3>Vitamin E</h3>
        </div>
        <div
          class="uk-card uk-card-default uk-width-expand ml-0 uk-card-body uk-flex uk-flex-center uk-flex-middle"
          uk-grid
        >
          <div class="uk-wdith-1-3">Green Tea, Dark Chocolate</div>
          <div class="uk-width-1-2 uk-visible@m">
            <img
              src="/assets/products/memoplusgold/bit4.png"
              class="w-100"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="mt-3 ml-0" uk-grid>
        <div
          class="uk-card uk-card-default uk-width-1-4@m uk-width-1-2 mr-3 uk-text-center uk-card-body uk-flex uk-flex-center uk-flex-middle"
        >
          <h3>
            Calcium <br />
            Zinc <br />
            Selenium <br />
            Copper <br />
            Iron
          </h3>
        </div>
        <div
          class="uk-card uk-card-default uk-width-expand ml-0 uk-card-body uk-flex uk-flex-center uk-flex-middle"
          uk-grid
        >
          <div class="uk-wdith-1-3@m">Milk, Almond, Eggs, Oysters, Lentils</div>
          <div class="uk-width-1-2 uk-visible@m">
            <img
              src="/assets/products/memoplusgold/bit5.png"
              class="w-100"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="content-text mb-1 mt-3">
          SOURCE:
        </p>
        <p class="content-text mt-1 mb-1">
            <a href="https://www.ncbi.nlm.nih.gov">NCBI</a>
        </p>
    </div>
  </div>

  <!-- Mobile Cards: Stack Up On Brain Boosters -->
  <div style="background-color: #94f21848 !important" class="py-3 uk-card uk-card-default uk-border-rounded uk-hidden@m container">
    <div class="w-75 m-auto  uk-text-center">
      <h3 class="bits-header">Stack up on brain boosters</h3>
      <p class="content-text">
        Certain nutrients help enhance cognitive abilities and protecting the
        brain from damage, promoting repair and counteracting the effects of
        aging.
      </p>
    </div>
    <div uk-slider="center: true">

      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
          <li>
            <div class="w-75 m-auto">
              <div class="stack-card py-5 uk-card uk-card-default uk-border-rounded brainbooster">
                <div class="uk-card-media-top">
                  <img src="/assets/products/memoplusgold/bit1.png" class="w-100" alt="" />
                </div>
                <div class="uk-card-body uk-text-center">
                  <h3 class="uk-card-title">Omega 3 Fatty Acids</h3>
                  <p>Samlmon<br>Flax Seeds<br>Walnuts</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w-75 m-auto">
              <div class="stack-card py-5 uk-card uk-card-default uk-border-rounded brainbooster">
                <div class="uk-card-media-top">
                  <img src="/assets/products/memoplusgold/bit2.png" class="w-100" alt="" />
                </div>
                <div class="uk-card-body uk-text-center">
                  <h3 class="uk-card-title">Flavonoids</h3>
                  <p>Green Tea<br>Dark chocolate</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w-75 m-auto">
              <div class="stack-card py-5 uk-card uk-card-default uk-border-rounded brainbooster">
                <div class="uk-card-media-top">
                  <img src="/assets/products/memoplusgold/bit3.png" class="w-100" alt="" />
                </div>
                <div class="uk-card-body uk-text-center">
                  <h3 class="uk-card-title">Vitamin D</h3>
                  <p>Fish Liver<br>Mushrooms<br>Soymilk</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w-75 m-auto">
              <div class="stack-card py-5 uk-card uk-card-default uk-border-rounded brainbooster">
                <div class="uk-card-media-top">
                  <img src="/assets/products/memoplusgold/bit4.png" class="w-100" alt="" />
                </div>
                <div class="uk-card-body uk-text-center">
                  <h3 class="uk-card-title">Vitamin E</h3>
                  <p>String Bean<br>Avocado<br>Peanuts</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="w-75 m-auto">
              <div class="stack-card py-3 uk-card uk-card-default uk-border-rounded brainbooster">
                <div class="uk-card-media-top px-5">
                  <img src="/assets/products/memoplusgold/bit5.png" class="w-100" alt="" />
                </div>
                <h3 class="uk-card-title px-5">Calcium, Zinc, Selenium, Copper, Iron</h3>
                <div class="uk-text-center px-5">
                  <p>Milk, Almond, Eggs, Oysters, Lentils</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="uk-flex uk-flex-center">
          <div class="w-50 uk-inline">
            <span class="uk-position-bottom-left uk-position-small sliderArrow">
              <a class="" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            </span>
            <span class="uk-position-bottom-right uk-position-small sliderArrow">
              <a class="" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-card py-5">
    <div>
      <h3 class="bits-header">Keep a fit and healthy mind</h3>
    </div>

    <p class="content-text">
      Brain exercises, just like regular body workouts, help keep your brain
      healthy. Get your brain stimulated by doing activities like memorization,
      or challenges such as problem solving minus pen and paper, or calculators.
      You can also try out a new hobby or learn to play a new musical
      instrument.
    </p>

    <p class="content-text mb-1">
      SOURCE:
    </p>
    <p class="content-text mt-1 pb-3">
        <a href="https://www.developgoodhabits.com/"> Develop Good Habits</a>
    </p>

    <div class="w-75 m-auto">
      <img src="/assets/products/memoplusgold/bitslg.png" alt="" />
    </div>
  </div>
</div>
