#b2s.circle {
    width: 50vw;
    height: 50vw;
    min-width: 80px;
    min-height: 80px;
    max-width: 450px;
    max-height: 450px;
    border-radius: 100%;
    border: 20px solid #8cbb6a;
    position: relative;
}

#b2s>.item {
  position: absolute;
  width: 40%;
}


#b2s>#planner {
  top: -80px;
  left: 130px;
}

#b2s>#positive {
  top: 50px;
  left: 320px;
}

#b2s>#boost {
  top: 300px;
  left: 260px;
}

#b2s>#procrastinate {
  top: 300px;
  left: 0px;
}

#b2s>#sleep {
  top: 50px;
  left: -80px;
}

.content-text {
  font-weight: bold;
}

.bits-header {
  color: #1a75bc;
}

.stack-card{
  background-color: #1a75bc;
  color: white !important;
}

.sliderArrow{
  background-color: #5e9d0dbb;
  color: #8cc63f;
  padding: 5px;
  border-radius: 25px;
}

.brainbooster {
  min-height: 339px;
}
