.title-header {
  color: #be1e2d;
}

.title-caption {
  color: #0c3525;
}

.subtitle {
  font-weight: bolder;
  color: #2cb673;
}

.year {
  font-weight: bolder;
  color: black;
}

.sub-content {
  color: black;
  font-size: 1.1em;
}

@media screen and (min-width: 1200px) {
  .sub-content {
    width: 75%;
  }
}

.main-content {
  font-size: 1em;
  font-weight: bold;
  color: #be1e2d;
}

.studies {
  background-image: url('/assets/products/cogent/cogent-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
