<div class="studies">
  <div class="container py-5">
    <div class="uk-card uk-card-default uk-padding-large">
      <div class="mt-5  text-center">
        <h1 class="title-header">CLINICAL STUDIES</h1>
      </div>
      <div class="title-caption">
        <div class="row">
          <div class="col-12">
            <h3>
              A number of animal experimentation studies and human clinical
              trials have been carried out in various medical institutions in
              the different parts of the world to test the full effects of Cogent
              db+.
            </h3>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-5" style="text-align: left;">
            <h4 class="subtitle">ANIMAL STUDIES</h4>
            <div class="pb-2">
              <h4 class="year">1998</h4>
              <p class="sub-content">
                Anti-diabetic effect of Cogent db+ - an herbal preparation.
              </p>
              <a
                href="/assets/products/cogent/Animal Study_1998_Kuttan.pdf"
                class="main-content"
              >
                Read More
              </a>
            </div>
            <div class="pb-2">
              <h4 class="year">2000</h4>
              <p class="sub-content">
                Anti-diabetic effect of Cogent db+, an herbal supplement in
                alloxan-induced diabetes mellitus
              </p>
              <a
                href="/assets/products/cogent/Animal Study_2000_Saravanan.pdf"
                class="main-content"
              >
                Read More
              </a>
            </div>
            <div class="pb-2">
              <h4 class="year">2002</h4>
              <p class="sub-content">
                Effect of Cogent db+, an herbal supplement, on plasma insulin and hepatic enzymes of glucose
                metabolism in experimental diabetes.
              </p>
              <a
                href="/assets/products/cogent/Animal Study_2002_Saravanan-Venkateswaran.pdf"
                class="main-content"
              >
                Read More
              </a>
            </div>
            <div class="pb-2">
              <h4 class="year">2003</h4>
              <p class="sub-content">
                Effect of Cogent db+, an herbal supplement on serum and tissue
                lipid metabolism in experimental hyperglycemic rats.
              </p>
              <a
                href="/assets/products/cogent/Animal Study_2003_Saravanan.pdf"
                class="main-content"
              >
                Read More
              </a>
            </div>
          </div>
          <div class="col-md-6 pl-4" style="text-align: left">
            <h4 class="subtitle">HUMAN CLINICAL TRIAL</h4>
            <div class="pb-2">
              <h4 class="year">2002</h4>
              <p class="sub-content">
                A preliminary evaluation of the efficacy and safety of Cogent
                db+ (An Ayurvedic supplement) in the Glycemic control of
                patients with Type-2 diabetes.
              </p>
              <a
                href="/assets/products/cogent/Human Clinical Trial_2002_Shekhar-Achike-Kaur-Kumar-Hashim.pdf"
                class="main-content"
              >
                Read More
              </a>
            </div>
            <div class="pb-2">
              <img src="/assets/products/cogent/clinical-graph.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
