<div class="container py-5">
  <div class="w-100 m-auto uk-text-center">
    <div class="pt-3 w-100">
      <div class="text-center uk-flex uk-flex-center uk-visible@m">
        <span class="pr-2 pt-1"> Filter: </span>
        <span class="pr-2">
          <button class="btn-filter btn btn-success w-100" (click)="all()">
            All
          </button>
        </span>
        <span class="pr-2">
          <button class="btn-filter btn btn-success w-100" (click)="mpg()">
            Memo Plus Gold
          </button>
        </span>
        <span class="pr-2">
          <button class="btn-filter btn btn-success w-100" (click)="arthrid()">
            Arthrid
          </button>
        </span>
        <span class="pr-2">
          <button class="btn-filter btn btn-success w-100" (click)="cdb()">
            Cogent db+
          </button>
        </span>
      </div>

      <div class="text-center uk-flex uk-flex-column uk-hidden@m">
          <span class="py-1 pt-1"> Filter: </span>
          <span class="py-1 px-5">
            <button class="btn-filter btn btn-success w-100" (click)="all()">
              All
            </button>
          </span>
          <span class="py-1 px-5">
            <button class="btn-filter btn btn-success w-100" (click)="mpg()">
              Memo Plus Gold
            </button>
          </span>
          <span class="py-1 px-5">
            <button class="btn-filter btn btn-success w-100" (click)="arthrid()">
              Arthrid
            </button>
          </span>
          <span class="py-1 px-5">
            <button class="btn-filter btn btn-success w-100" (click)="cdb()">
              Cogent db+
            </button>
          </span>
        </div>

      <div class="banners pt-4 text-left" *ngIf="isMpg === true">
        <!-- TV -->
        <h4>TV Commercials</h4>
        <div class="uk-child-width-1-3" uk-lightbox uk-grid>
          <div>
            <a class="" href="/assets/gallery/mpg/tv/1.mp4" data-caption="Memo Plus Gold">
              <img src="/assets/gallery/mpg/tv/1.png" alt="">
            </a>
          </div>
          <div>
              <a class="" href="/assets/gallery/mpg/tv/8.mp4" data-caption="Memo Plus Gold">
                <img src="/assets/gallery/mpg/tv/8.png" alt="">
              </a>
          </div>
          <div>
              <a class="" href="/assets/gallery/mpg/tv/3.mp4" data-caption="Memo Plus Gold">
                <img src="/assets/gallery/mpg/tv/3.png" alt="">
              </a>
          </div>
          <div>
              <a class="" href="/assets/gallery/mpg/tv/9.mp4" data-caption="Memo Plus Gold">
                <img src="/assets/gallery/mpg/tv/9.png" alt="">
              </a>
          </div>
          <div>
              <a class="" href="/assets/gallery/mpg/tv/5.mp4" data-caption="Memo Plus Gold">
                <img src="/assets/gallery/mpg/tv/5.png" alt="">
              </a>
          </div>
          <div>
            <a class="" href="/assets/gallery/mpg/tv/6.mp4" data-caption="Memo Plus Gold">
              <img src="/assets/gallery/mpg/tv/6.png" alt="">
            </a>
        </div>
        <div>
          <a class="" href="/assets/gallery/mpg/tv/7.mp4" data-caption="Memo Plus Gold">
            <img src="/assets/gallery/mpg/tv/7.png" alt="">
          </a>
      </div>
        </div>
        <!-- PRINT & EVENTS -->
        <div class="py-3">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
              <h4>PRINT</h4>
              <img src="/assets/gallery/mpg/print/1.jpg" alt="" />
            </div>
            <div>
              <h4>Events</h4>
              <p>Memo Plus Gold IQ Challenge Bicol Oct 20 2010 - Feb 19 2011</p>
              <div class="uk-child-width-1-2" uk-grid>
                <div>
                  <img src="/assets/gallery/mpg/event/1.png" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/mpg/event/2.png" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/mpg/event/3.png" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/mpg/event/4.png" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/mpg/event/5.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SOCIAL MEDIA -->
        <div class="py-3">
          <h4>Social Media</h4>
          <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
            <div>
              <img src="/assets/gallery/mpg1.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/mpg2.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/mpg3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="banners pt-4 text-left" *ngIf="isArthrid === true">
        <!-- TV -->
        <h4>TV Commercials</h4>
        <div class="uk-child-width-1-3" uk-lightbox uk-grid>
          <div>
            <a class="" href="/assets/gallery/cdb/tv/1.mp4" data-caption="Cogent db+">
              <img src="/assets/gallery/arthrid/tv/1.png" alt="">
            </a>
          </div>
        </div>
        <!-- PRINT & EVENTS -->
        <div class="py-3">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
              <h4>PRINT</h4>
              <img src="/assets/gallery/arthrid/print/1.jpg" alt="" />
            </div>
          </div>
        </div>
        <!-- SOCIAL MEDIA -->
        <div class="py-3">
          <h4>Social Media</h4>
          <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
            <div>
              <img src="/assets/gallery/arthrid1.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/arthrid2.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/arthrid3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="banners pt-4 text-left" *ngIf="isCdb === true">
        <!-- TV -->
        <h4>TV Commercials</h4>
        <div class="uk-child-width-1-3" uk-lightbox uk-grid>

          <div>
              <a class="" href="/assets/gallery/cdb/tv/1.mp4" data-caption="Cogent db+">
                <img src="/assets/gallery/cdb/tv/1.png" alt="">
              </a>
          </div>
        </div>
        <!-- PRINT & EVENTS -->
        <div class="py-3">
          <div class="uk-child-width-1-2@m" uk-grid>
            <div>
              <h4>PRINT</h4>
              <img src="/assets/gallery/cdb/print/1.jpg" alt="" />
            </div>
            <div>
              <h4>Events</h4>
              <p>Cogent db+ Launch Manila Hotel 2005</p>
              <div class="uk-child-width-1-2" uk-grid>
                <div>
                  <img src="/assets/gallery/cdb/event/1.jpg" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/cdb/event/2.jpg" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/cdb/event/3.jpg" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/cdb/event/4.jpg" alt="" />
                </div>
                <div>
                  <img src="/assets/gallery/cdb/event/5.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SOCIAL MEDIA -->
        <div class="py-3">
          <h4>Social Media</h4>
          <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
            <div>
              <img src="/assets/gallery/cdb1.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/cdb2.jpg" alt="" />
            </div>
            <div>
              <img src="/assets/gallery/cdb3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
