<div id="header" style="background-color: #8cc444;">
  <div class="uk-flex uk-flex-center">
    <div class="uk-width-small@m uk-width-small pt-md-4 pt-3">
      <img src="assets/davenbenlogo.png" class="w-100" alt="" />
    </div>
  </div>
  <div>
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-center">
        <div class="uk-navbar-center">
          <div>
            <ul
              id="menu"
              class="uk-navbar-nav uk-width-child-1-4 uk-flex uk-flex-center"
            >
              <li>
                <a class="link uk-text-center" [routerLink]="['/about']">
                  About <br />
                  Davenben
                </a>
              </li>
              <span class="divider my-3"></span>
              <li>
                <a class=" link uk-text-center">
                  Our Health <br />
                  Products
                </a>
                <div id="prod-nav" class="uk-navbar-dropdown">
                  <ul id="prod-nav" class="uk-nav uk-navbar-dropdown-nav">
                    <li id="mpg" class="uk-active productLink">
                      <a [routerLink]="['/products/mpg']">Memo Plus Gold</a>
                    </li>
                    <li id="arthrid" class="uk-active productLink">
                      <a [routerLink]="['/products/arthrid']">Arthrid</a>
                    </li>
                    <li id="cdb" class="uk-active productLink">
                      <a [routerLink]="['/products/cdb']">Cogent db+</a>
                    </li>
                  </ul>
                </div>
              </li>
              <span class="divider my-3"></span>
              <li>
                <a class=" link uk-text-center" [routerLink]="['/campaign']">
                  Gallery
                </a>
              </li>
              <!-- <span class="divider my-3"></span>
                  <li>
                    <a class=" link uk-text-center" [routerLink]="['/contact']">
                      Connect <br> With Us
                    </a>
                  </li>
                  <span class="divider my-3"></span>
                  <li>
                    <a class=" link uk-text-center" [routerLink]="['/tips']">
                      Product Tips
                    </a>
                  </li> -->
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div id="body" style="min-height: 40vh;"><router-outlet> </router-outlet></div>
<ng-container> <app-footer></app-footer> </ng-container>
