#header {
  width: 100%;
  z-index: 999;
}

.uk-navbar-nav>li>a {
  font-weight: 600;
}



.flex {
  display: flex;
  justify-content: center;
}

.productLink {
  border-left: 10px solid;
  padding-left: 8px;
  margin-bottom: 3px;
}

#arthrid.productLink {
  border-color: #85d5f7;
}

#mpg.productLink {
  border-color: #8cc63f;
}

#cdb.productLink {
  border-color: #f15a29;
}

.uk-navbar-dropdown {
  padding: 15px !important;
  width: 150px !important;
}

.productLink>a {
  color: gray !important;
}

.productLink>a:hover {
  color: black !important;
}

.productLink:hover,
  {
  background-color: white;
}
