<div class="position-relative">
  <div class="uk-position-absolute w-100">
    <div class="uk-flex uk-flex-right">
      <div class="uk-width-xxlarge@m uk-width-large">
        <img src="/assets/products/cogent/hand.png" alt="" />
      </div>
    </div>
  </div>

  <div class="container pt-5 pl-3 mb-4" id="main-content">
    <div class="col-md-10">
      <div class="pt-2">
        <h3 class="mb-0 subtitle">WHAT IS</h3>
        <h1 class="mt-0 subtitle">DIABETES?</h1>
        <div class="w-75 m-auto">
          <p class="uk-text-justify mt-2 content-text">
            Diabetes mellitus can be defined as a group of metabolic diseases characterized by chronic hyperglycemia resulting from defects in insulin secretion, insulin action or both. It causes impaired function of carbohydrate, lipid and protein metabolism.
          </p>
          <p class="mt-3 mb-3 content-text uk-text-justify ">
            As a result of this, the glucose in the blood cannot be absorbed into the cells of the body.
          </p>
          <div class="content-text uk-text-justify ">
            Approximately
            <h4 class="emphasis">60-70%</h4>
            of diabetics develop some form of
            <strong>peripheral nerve damage</strong> which can lead to
            amputation.
          </div>
        </div>
      </div>

      <div class="mt-5">
        <h2 class="subtitle">Complications</h2>
        <div class="pt-2">
          <div class="mt-2">
            <ul class="ul-content">
              <li>Numbness and pain in the extremities</li>
              <li>Blurry vision leading to blindness</li>
              <li>Sweet-smelling breath</li>
              <li>Amputation of the lower limbs</li>
              <li>
                Kidneys have repeated episodes of infections leading to a
                non-functioning kidney
              </li>
              <li>Skin may show rare changes - an unusual degenerative change occurring within the
                dermis</li>
              <li>Cardiovascular diseases and stroke</li>
              <li>
                Peripheral neuropathy - pain and numbness in the extremities
                usually in the legs and feet
              </li>
              <li>Impotence and loss of libido</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- additional infrographic -->
    <div class="uk-width-xxlarge@m m-auto py-5">
      <img src="/assets/products/cogent/infographic.jpg" alt="" />
    </div>

    <!-- types of diabetes -->
    <div class="mt-5">
      <h2 class="subtitle">TYPES OF DIABETES</h2>
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>
          <div class="subtitle uk-card uk-card-primary w-50 pt-3 px-3 pb-1 my-md-3">
            <p class="uk-card-title">TYPE 1</p>
          </div>
          <div class="mt-2 ">
            <p class="content-text">
              Develops when the body's immune system destroys pancreatic
              beta-cells, which are responsible for the production of insulin.
            </p>
            <p class="content-text">
              This form of diabetes has been reported among children and young
              adults. They need several injections of insulin a day or an
              insulin pump to survive.
            </p>
            Symptoms include thirst, polyuria, wasting or ketoacidosis.
          </div>
        </div>
        <div>
          <div class="subtitle uk-card uk-card-primary w-50 pt-3 px-3 pb-1 my-md-3">
            <p class="uk-card-title">TYPE 2</p>
          </div>
          <div class="mt-2">
            <p class=" content-text">
              This is the most common form of diabetes which is associated with
              obesity, older age (40 years and above), family history, physical
              inactivity, impaired glucose tolerance, prior history of
              gestational diabetes and certain races.
            </p>
            <p class=" content-text">
              It may present itself with classical symptoms (such as thirst,
              unexplained weight loss, extreme fatigue, wounds that don’t heal)
              but often is asymptomatic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
