#content-two-table {
  background-color: #ffffff;
  border-collapse: collapse;
}

table, th, thead, tbody, td {
  border: 4px #2cb673 solid;
}

thead {
  color: white;
}

.table-head-odd {
  color: #2cb673;
}

.table-head-even {
  background-color: #2cb673;
  color: white;
}

.table-head {
  border-right: white 4px solid;
}

.day{
  width: 14.28% !important;
  margin: auto;
  background-color: white;
}
.day > h3 {
  min-height: 20px;
  border: green 2.5px solid;
  padding: 10px;
}

.dayEntry {
  height: 100px;
  border-right: green 2.5px solid;
  border-left: green 5px solid;
  border-bottom: green 5px solid;
  padding: 10px;
}
