<div class="container">
  <div class="row mt-3">
    <div class="col-8">
      <img src="/assets/products/cogent/diabeatit/page2-img1.png" />
    </div>
    <div class="col-4 text-center">
      <img src="/assets/products/cogent/diabeatit/diabeatit-logo.png" />
    </div>
  </div>

  <div>
    <div class="w-100 m-auto">
      <div class="uk-flex uk-flex-around">
        <div class="day">
          <h3>Sunday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry">Granola with Nuts, Seeds, and Dried Fruit</div>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
        </div>
        <div class="day">
          <h3>Monday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry">Salmon Salad with White Beans</div>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
        </div>
        <div class="day">
          <h3>Tuesday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
          <div class="dayEntry">Butternut Squash and Carrot Soup</div>
          <div class="dayEntry"></div>
        </div>
        <div class="day">
            <h3>Wednesday</h3>
            <div class="dayEntry">Veggie
                and
                Goat Cheese
                scramble</div>
            <div class="dayEntry"></div>
            <div class="dayEntry"></div>
            <div class="dayEntry"></div>
          </div>
        <div class="day">
          <h3>Thursday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry">Curried Chicken Salad Stuffed Pitas</div>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
        </div>
        <div class="day">
          <h3>Friday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
          <div class="dayEntry">
            Jamaican Pork Tenderloin with Lemony Grass Beans
          </div>
        </div>
        <div class="day">
          <h3>Saturday</h3>
          <div class="dayEntry"></div>
          <div class="dayEntry"></div>
          <div class="dayEntry">Spinach and Tomato Pasta</div>
          <div class="dayEntry"></div>
        </div>
      </div>
    </div>
    <div class="float-right">Sources: Healthline, Medical News Today</div>
  </div>
</div>
