#clinicalStudies {
  width: 60%;
}
.uk-accordion-title {
    background-color: #4b599c;
    /* color: white !important; */
    font-weight: 600;
}

.uk-accordion-title > h4 {
  color: white !important;
  margin-right: 10%;
}

.uk-accordion-content {
    margin-top: 0px !important;
    background-color: #48c4d3;
}

.uk-accordion>:nth-child(n+2) {
    margin-top: 2px;
}

.uk-accordion-title::before {
  background-color: white;
  /* background-image: ''; */
}
