<div id="clinicalStudies" class="container py-3 py-lg-5 m-auto uk-visible@m">
  <h2 class="uk-text-center _blue-header">
    Clinical Studies
  </h2>
  <ul uk-accordion="collapsible: false">
    <li *ngFor="let data of dataSource.childElements[0].placeholderContent">
        <a class="uk-accordion-title p-2 pl-4 pt-3" href="#" ><h4>{{ data.title }}</h4></a>
        <div class="uk-accordion-content  p-5">
            <p class="content-text">{{ data.bodyContent }}</p>
        </div>
    </li>
  </ul>
  <div>
    <div class="w-100 uk-child-width-expand@l pl-0 ml-0 uk-flex">
      <div class="uk-text-center broken-lines mr-lg-4 py-4">
        <h4 class="mb-0">
          Click <a href="/assets/products/arthrid/clinicalstudy.pdf" target="_blank">HERE</a> to read the complete details.
        </h4>
      </div>
      <div class="uk-text-center broken-lines ml-lg-4 py-4">
          <h4 class="mb-0">
              <a href="/assets/products/arthrid/dost/dost.pdf" target="_blank">
                DOST Lab Results
              </a>
          </h4>
      </div>
    </div>
  </div>
</div>

