<img class="w-100" src="{{shopProperties.imgURL}}" alt="" (click)="showDropDownLinks()"/>
<div class="link-container ml-auto px-1 px-md-3" *ngIf="dropDownLinks">
  <div class="shop-card text-center py-md-1">
    <a href="{{shopProperties.shopeeURL}}">Shopee</a>
  </div>
  <div class="shop-card text-center py-md-1">
    <a href="{{shopProperties.lazadaURL}}">Lazada</a>
  </div>
</div>
