.shop-card {
  background-color: gainsboro;
}

.shop-card:hover {
  background-color: gray;
}

.link-container {
  width: 75%;
}
.shop-card > a {
  color: black !important;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .shop-card > a {
    font-size: .5em !important;
  }

  .link-container {
    width: 90% !important;
  }
}

