.product {
  position: relative;
}
.product-entry {
  min-height: 30vh;
  max-height: auto;
}
.product-shop {
  width: 15%;
  min-width: 130px;
}

/* Diabetes CSS styles -- JABETIS! */
.title-header {
  color: #be1e2d;
  font-weight: bolder;
}

.subtitle {
  font-weight: bolder;
  color: #2cb673;
  margin: 0;
}

.subtitle.uk-card {
  background-color: #2cb673;
}

.subtitle-border {
  border-bottom: 3px dashed #2cb673;
}

.emphasis {
  display: inline-block;
  margin: 0;
}

#hand {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -40px;
}

#logos {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 135px;
  margin-bottom: 20px;
}

.ul-content {
  list-style-type: disc;
}


#ing-comp {
  background: url('/assets/products/cogent/ing-bg.png');
  background-attachment: fixed;
  background-position-y: calc(0px);
  background-repeat: no-repeat;
  background-size: 100%;
}
