<div class="w-50 m-auto">
    <img src="" alt="" #imgRef>
  </div>
<nav class="menu">
  <input
    type="checkbox"
    href="#"
    class="menu-open"
    name="menu-open"
    id="menu-open"
  />
  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a href="#about" class="menu-item item-1" uk-scroll> <i class="fa fa-info"></i> </a>
  <a href="#ing-comp" class="menu-item item-2" uk-scroll> <i class="fa fa-list-ol"></i> </a>
  <a href="#clinicalStudies" class="menu-item item-3" uk-scroll> <i class="fa fa-book-open"></i> </a>
  <a href="#faq" class="menu-item item-4" uk-scroll> <i class="fa fa-question"></i> </a>
</nav>

<script>
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", "UA-46156385-1", "cssscript.com");
  ga("send", "pageview");
</script>
