<div class="w-100 position-absolute" uk-parallax="bgy: 100">
  <img src="/assets/products/cogent/arc.png" alt="" />
</div>
<div id="tips">
  <div class="container" style="padding-top: 12%;">
    <div class="uk-width-xxlarge@m m-auto">
      <app-cogent-diabeatit></app-cogent-diabeatit>
    </div>
  </div>
</div>
