<div class="w-100 position-absolute">
  <img src="/assets/products/arthrid/arc.png" />
</div>
<div id="tips" uk-parallax="bgy: 100">
  <div class="container" style="padding-top: 12%;">
    <div class="uk-width-xxlarge@m m-auto">
      <div id="content5" class="py-3">
        <div id="content6" class="py-3">
          <div class="pl-2 py-5">
            <div
              class="uk-padding-small uk-border-rounded uk-card uk-card-secondary uk-width-1-4@m uk-width-1-2 m-auto m-md-0"
            >
              <div
                class="uk-card-title uk-text-bold uk-text-capitalize uk-text-center"
              >
                Health Bits
              </div>
              <div class="w-50 m-auto">
                <img src="/assets/products/arthrid/heart.png" alt="" />
              </div>
            </div>
          </div>
          <div uk-grid>
            <div class="uk-width-1-3@m">
              <ul
                class="uk-tab-left nav-bar-grid w-100"
                uk-tab="connect: #component-tab-left; animation: uk-animation-fade"
              >
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 1</div>
                      <div class="uk-card-body">Take the 30-Day Challenge</div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 2</div>
                      <div class="uk-card-body">Traveling with RA</div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 3</div>
                      <div class="uk-card-body">
                        Tips to reduce joint pain with everyday moves
                      </div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 4</div>
                      <div class="uk-card-body">Food for Healthy Joints</div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 5</div>
                      <div class="uk-card-body">
                        How does weight affect osteoarthritis
                      </div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 6</div>
                      <div class="uk-card-body">
                        NATURAL REMEDIES FOR BONE AND JOINT PAINS
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="uk-width-expand@m right-pane">
              <ul id="component-tab-left" class="uk-switcher">
                <li>
                  <h3>30-DAY WALKING CHALLENGE</h3>
                  <div>
                    <ul class="uk-list uk-list-large uk-list-divider">
                      <li>Day 1 - TAKE A STROLL (20 minutes)</li>
                      <li>Day 2 - BRISK WALK (20 minutes)</li>
                      <li>Day 3 - BRISK WALK (20 minutes)</li>
                      <li>Day 4 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 5 - RELAXED WALK (20 minutes)</li>
                      <li>Day 6 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 7 - CHALLENGE YOURSELF (60 minutes)</li>
                      <li>Day 8 - RELAXED WALK (20 minutes)</li>
                      <li>Day 9 - BRISK WALK (20 minutes)</li>
                      <li>Day 10 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 11 - KEEP ON GOING (30 minutes)</li>
                      <li>Day 12 - RELAXED WALK (20 minutes)</li>
                      <li>Day 13 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 14 - TAKE THE CHALLENGE (60 minutes)</li>
                      <li>Day 15 - HALF WAY THERE (30 minutes)</li>
                      <li>Day 16 - RELAXED WALK (20 minutes)</li>
                      <li>Day 17 - BRISK WALK (20 minutes)</li>
                      <li>Day 18 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 19 - BRISK WALK (20 minutes)</li>
                      <li>Day 20 - ADD ANOTHER 10 MINUTES (30 minutes)</li>
                      <li>Day 21 - SHORT WALK (20 minutes)</li>
                      <li>Day 22 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 23 - BRISK WALK (20 minutes)</li>
                      <li>Day 24 - BRISK WALK (20 minutes)</li>
                      <li>Day 25 - TAKE THE 1-HOUR CHALLENGE (60 minutes)</li>
                      <li>Day 26 - BRISK WALK (20 minutes)</li>
                      <li>Day 27 - ADD 10 MORE MINUTES (30 minutes)</li>
                      <li>Day 28 - YOU’VE GOT THIS (60 minutes)</li>
                      <li>Day 29 - ALMOST THERE (20 minutes)</li>
                      <li>Day 30 - YOU DID IT! (20 minutes)</li>
                    </ul>
                    <div class="pt-5">
                      <p class="content-text">
                        SOURCE: <br />
                        <a href="https://global.bowflex.com/">
                          Bowlfex
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <h3>TRAVELING WITH RHEUMATOID ARTHRITIS</h3>
                  <p class="content-text uk-text-justify">
                    For people with rheumatoid arthritis, traveling can be twice
                    as harsh with joint pains and inflammations. To overcome
                    these challenges, it’s essential to plan ahead and be
                    prepared in order to lessen travel stress. Bringing light
                    luggage, traveling at the right time, taking along the
                    necessary medications, and having a doctor to assist in
                    planning the trip are ways to have a worry-free vacation.
                  </p>
                  <p class="content-text mb-1">
                    SOURCE: <br />
                    <a href="https://www.webmd.com">
                      WebMD
                    </a>
                  </p>
                  <p class="content-text mt-0">
                    <a href="https://rheumatoidarthritis.net">
                      Rheumatoid Arthritis
                    </a>
                  </p>
                </li>
                <li>
                  <h3>PRACTICAL TIPS ON REDUCING JOINT PAINS</h3>
                  <p class="content-text uk-text-justify">
                    There are many ways to help lessen the threats against joint
                    pains. Being mindful of joint-friendly moves in doing your
                    daily tasks is one. Start by choosing to carry lighter
                    objects, like your bag. Only bring the essential items you
                    need for the day. Limit the use of your thumb and curled
                    fingers by choosing daily handheld items with larger
                    handles. Avoid getting injuries, as well by sliding or using
                    roller carts in transferring heavier items.
                  </p>
                  <p class="content-text">
                    SOURCE: <br>
                    <a href="http://blog.arthritis.org/">
                      Arthritis Foundation
                    </a>
                  </p>
                </li>
                <li>
                  <h3>FOOD FOR THE BONES</h3>
                  <p class="content-text uk-text-justify">
                    When making a diet plan for people with rheumatoid arthritis, preventing joint inflammations and strengthening the bones must be top considerations. Avoid eating too much joint-pain inducing foods such as red meat, sugar and refined flour, and instead go for foods that have anti-inflammatory properties, such as fish, whole grain, broccoli, citrus fruits, and dairy.
                  </p>

                  <p class="content-text">
                    SOURCE: <br />
                    <a href="https://www.arthritis.org/">
                      Arthritis Foundation
                    </a>
                  </p>
                </li>
                <li>
                  <h3>WEIGHT MATTERS</h3>
                  <p class="content-text uk-text-justify">
                      Excessive body weight affects the
                      development of osteoarthritis. It adds
                      strain on the hips and knee joints, thus,
                      weakening the cartilages that support it.
                      That’s why it is recommended for
                      obese people with osteoarthritis to lose
                      weight by exercising to reduce the risk
                      of having painful and fragile joints.
                  </p>
                  <p class="content-text">
                    SOURCE: <br />
                    <a href="https://www.ncbi.nlm.nih.gov/">
                      National Center for Biotechnology Information
                    </a>
                  </p>
                </li>
                <li>
                  <h3>LET'S GET NATURAL</h3>
                  <p class="content-text uk-text-justify">
                    Besides taking over-the-counter anti-inflammatory pills,
                    there are other effective remedies to arthritis which you
                    can do at the comforts of your home. Moderate exercise and
                    stretching, applying pain cream and heat or cold packs to
                    your joints and using assistive devices such as walking
                    sticks can provide relief from inflammation.
                  </p>
                  <p class="content-text mb-0">
                    <a href="https://www.mayoclinic.org/">
                      Mayo Clinic
                    </a>
                  </p>
                  <p class="content-text mt-1">
                    <a href="https://www.arthritis.org/">
                      Arthritis Foundation
                    </a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div id="content6" class="py-3">
          <div uk-grid>
            <div class="uk-width-1-3@m">
              <ul
                class="uk-tab-left"
                uk-tab="connect: #component-tab-left2; animation: uk-animation-fade"
              >
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 4</div>
                      <div class="uk-card-body">Food for Healthy Joints</div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 5</div>
                      <div class="uk-card-body">
                        How does weight affect asteoarthritis
                      </div>
                    </div>
                  </a>
                </li>
                <li class="uk-width-1-1">
                  <a href="#">
                    <div class="uk-card uk-card-default pt-3 pl-3">
                      <div class="uk-card-title">TIP 6</div>
                      <div class="uk-card-body">
                        Natural remedies for bone and joint pains
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="uk-width-expand@m right-pane">
              <ul id="component-tab-left2" class="uk-switcher">
                <li>
                  <h3>Food for Healthy Joints</h3>
                  <p class="content-text">
                    When making a diet plan for people with rheumatoid
                    arthritis, preventing joint inflammations and strengthening
                    the bones must be top considerations. Avoid eating too much
                    joint-pain inducing foods such as red, sugar and refined
                    flour, and instead go for foods that have anti-inflammatory
                    properties, such as fish, whole grain, broccoli, citrus
                    fruits, and dairy.
                  </p>

                  <p class="content-text">
                    12 Best Foods For Arthritis <br />
                    <a href="https://www.arthritis.org/">
                      Arthritis Foundation
                    </a>
                  </p>
                </li>
                <li>
                  <h3>WEIGHT MATTERS</h3>
                  <p class="content-text">
                    Excessive body weight affects the development of
                    osteoarthritis by way of adding strain on the hips and knee
                    joints weakening the cartilages that support it. That’s why
                    it is recommended for obese people with osteoarthritis to
                    lose weight by exercising to reduce the risk of having
                    painful and fragile joints.
                  </p>
                  <p class="content-text">
                    Exercise, weight loss and osteoarthritis <br />
                    <a href="https://www.ncbi.nlm.nih.gov/">
                      ncbi.nlm.nih.gov
                    </a>
                  </p>
                </li>
                <li>
                  <h3>PRACTICAL TIPS ON REDUCING JOINT PAINS</h3>
                  <p class="content-text">
                    Besides taking over-the-counter anti-inflammatory pills,
                    there are other effective remedies to arthritis which you
                    can do at the comforts of your home. Moderate exercise and
                    stretching, applying pain cream and heat or cold packs to
                    your joints and using assistive devices such as walking
                    sticks can provide relief from inflammation.
                  </p>
                  <p class="content-text">
                    Osteoarthritis <br />
                    <a href="https://www.mayoclinic.org/">
                      Mayo Clinic
                    </a>
                  </p>
                  <p class="content-text">
                    Osteoarthritis Treatment <br />
                    <a href="https://www.arthritis.org/">
                      Arthritis Foundation
                    </a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
