.right-pane {
  padding-right: 30px;
  max-height: 600px;
  overflow-y: scroll;
}
#tips {
  background-image: url('/assets/products/arthrid/ing-bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
