<div class="w-100 position-absolute" style="margin-top: -24px; z-index: 0;">
  <img
    src="/assets/products/memoplusgold/arc.png"
    class="w-100 position-absolute"
    alt=""
  />
</div>
<div class="w-100 position-absolute" style="z-index: 999">
  <div class="product-shop ml-auto pr-2 pr-md-5 pt-md-5" >
    <app-shopbtn [properties]='shop.mpg'></app-shopbtn>
  </div>
</div>
<div class="w-100 product uk-animation-fade">
  <app-shared [displayElements]="displayElements"></app-shared>
</div>
