._mbody--faq {
    /* background-color: #b1d245; */
    background-image: url('/assets/products/memoplusgold/mpg-gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

._mbody--container {
    max-width: 500px;
}

._mbody--boydiag {
    background-color: #9cdbf2;
}

._mbody--girldiag {
    background-color: #ffff99;
}
