<div class="_mbody--faq py-3">
  <div class="w-75 m-auto _mbody--container">
    <h3>
      Frequently Asked Questions
    </h3>
    <div class="py-4">
        <div class="uk-margin">
          <label for="">
            What's your question?
          </label>
          <select class="uk-select" [(ngModel)]="selectedQuestion" (ngModelChange)="questionChanged($event)">
            <option *ngFor="let question of questions" [ngValue]="question">
              {{question.question}}
            </option>
          </select>
        </div>
      </div>
    <div class="uk-grid">
      <div class="uk-width-1-3">
        <img src="/assets/products/memoplusgold/mboy-faq.png" class="w-100">
      </div>
      <div class="uk-width-expand mt-4">
        <div class="_mbody--boydiag p-3 w-100 uk-border-rounded uk-animation-fade">
          <ng-container *ngIf="!typing" >
            {{selectedQuestion.question}}
          </ng-container>
          <ng-container>
            <div class="w-50 m-auto" *ngIf="typing" >
              <img src="/assets/typing.gif" alt="">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="uk-grid mt-2">
      <div class="uk-width-expand mt-4">
        <div class="_mbody--girldiag p-3 w-100 uk-border-rounded uk-animation-fade">
            <ng-container *ngIf="!typing" >
              <div class="uk-text-justify">
                {{selectedQuestion.answer}}
              </div>
              </ng-container>
              <ng-container *ngIf="typing" >
                Select a question!
              </ng-container>
        </div>
      </div>
      <div class="uk-width-1-3">
        <img src="/assets/products/memoplusgold/mgirl-faq.png" class="w-100">
      </div>
    </div>

  </div>
</div>
