/* You can add global styles to this file, and also import other style files */

/* @import '/app/components/products/arthrid/arthrid.component.css';
@import '/app/components/products/arthrid/memoplusgold.component.css';
@import '/app/components/products/arthrid/cogentdb.component.css'; */

body {
	/* max-width: 1800px; */
	margin: 0 auto;
	/* font-family: 'Avante-Black' !important; */
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.link {
	color: white !important;
	-webkit-transition: font-size 2s;
	/* For Safari 3.0 to 6.0 */
	transition: font-size 2s;
	/* For modern browsers */
}

.link:hover {
	text-shadow: 2px 2px gray;
	font-size: 110%;
	font-weight: bolder;
}

.divider {
	display: inline-block;
	width: 0;
	height: 3em;
	border-right: white solid 3px;
}

h1,
h2,
h3,
h4 {
	font-family: 'CooperHewitt' !important;
}

@font-face {
	font-family: "CooperHewitt";
	src: url("/assets/fonts/CooperHewitt-Bold.otf");
}

@font-face {
	font-family: "Avante-Bold";
	src: url("/assets/fonts/ITCAvantGardeStd-BoldCn.otf");
}

.w-15 {
	width: 15%;
}

.w-5 {
	width: 5%;
}



.uk-card-title {
	font-size: 1.2em !important;
	line-height: 1.4;
}



.round-border {
	border-radius: 50px;
}

.green {
	background-color: #cfe5ae !important;
}

.teal {
	background-color: #fff9ae !important;
}

.powderblue {
	/* background-color: #48c4d3 !important; */
	background-image: url('/assets/products/arthrid/arthrid-gradient.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#landingPage {
	width: 100vw;
	height: 100vh;
}

#menu > li:nth-last-child(2) {
	border-right: none;
}

.title-header {
	color: #be1e2d;
}

#ing-comp {
	background: url('/assets/products/cogent/ing-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position-y: calc(0px);
	background-repeat: no-repeat;
}

#ing-comp.arthrid-ing {
  background: url('/assets/products/arthrid/ing-bg.png');
  background-attachment: fixed;
  background-size: unset;
}

._blue-header {
	color: #4c5a9c;
}
._green-header {
	color: #79aa5b;
}

._darkgreen-header {
	color: #2db573;
}

.broken-lines {
	border: dashed blue 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
