#div-hand {
  position: absolute;
  bottom: 0;
  right: 0;
}

#main-content {
  background: url('/assets/products/cogent/ayurveda-bg.png');
  background-attachment: fixed;
  background-position-y: calc(0px);
  background-repeat: none;
  background-size: 100%;
}
