<div class="container pt-5">
  <h2 class="subtitle">DIABETES FROM THE AYURVEDIC PERSPECTIVE</h2>
</div>
<div class="py-5 pl-3" id="main-content" uk-parallax="bgy: 100">
  <div class="container py-5">
    <div style="z-index: 999">
      <div class="uk-flex uk-flex-center">
        <div class="w-25 m-auto">
          <img
            src="/assets/products/cogent/ayurveda.png"
            alt=""
            class="w-100"
          />
        </div>
      </div>
      <p class="content-text w-50 m-auto uk-text-center pb-5">
        Derived from the Sanskrit words 'ayur' and 'veda'. 'Ayur'
        means life and 'veda' means knowledge and science.
      </p>
      <div class="pt-5">
        <h4>TRADITIONAL AYURVEDIC PRACTICE</h4>
        <div class="mt-2 mb-3">
          <p class=" content-text">
            The oldest and most holistic medical system in the world, Ayurveda originated in India about 5,000 years ago. 
          </p>
          <p class=" content-text">
            The aim of this holistic system is to heal and prevent illness, heal
            the sick by protecting health, prolonging life and eliminating
            diseases and dysfunctions of the body.
          </p>
          Therapies used in Ayurvedic practice may include:
          <ul class="ul-content">
            <li>herbal supplements</li>
            <li>mineral and fruit/vegetable preparations</li>
            <li>cleansing processes</li>
            <li>dietary modifications</li>
          </ul>
        </div>
      </div>
      <div class="pt-2">
        <h4>AYURVEDIC TREATMENT OF DIABETES</h4>
        <div class="mt-2 mb-3">
          <p class=" content-text">
            The ingredients in Cogent db+ have had conventional therapeutic and
            recorded use in <br />
            Ayurvedic treatment for disorders of the kidney, cardio-vascular
            system, <br />
            liver and metabolism for thousands of years.
          </p>
          <p class=" content-text">
            The supplement has undergone extensive scientific and clinical
            evaluation for over 20 years <br />
            in various medical institutions in India and other countries.
          </p>
          <p>The formulation has 2 distinctive properties:</p>
          <ul class="ul-content">
            <li>anti-diabetic</li>
            <li>acts as a prophylactic against diabetic complications</li>
          </ul>
          <p class=" content-text">Thus, this herbal supplement:</p>
          <ul class="ul-content">
            <li>
              is able to clinically lower high blood glucose levels
              (anti-hyperglycemic)
            </li>
            <li>does not compromise vital organs such as kidneys and liver</li>
            <li>
              can be prescribed for diabetic complications (therapeutic and
              prophylactic)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div><img src="" alt="" /></div>
  </div>
</div>
