<div class="container mt-5">
  <!-- PAGE 3 -->
  <div>
    <div id="page3-img">
      <img src="/assets/products/cogent/diabeatit/page3-img.png" />
    </div>
    <div>
      <p class="content-text mb-1 mt-3">
          SOURCE:
        </p>
        <p class="content-text mt-1 mb-1">
            <a href="https://www.healthline.com">Healthline</a>
        </p>
    </div>
  </div>
  <!-- PAGE 4 -->
  <div class="mt-5">
    <div class="uk-grid pt-5">
      <div class="mt-md-0 mt-4 uk-width-3-4">
        <h1 class="title-header">
          FOOD THAT KEEPS YOUR <br />
          BLOOD SUGAR IN CHECK
        </h1>
      </div>
      <div class="uk-width-1-4 m-auto">
        <img src="/assets/products/cogent/diabeatit/diabeatit-logo.png" />
      </div>
    </div>
    <div>
      <img src="/assets/products/cogent/diabeatit/page4-img1.png" />
    </div>
    <div>
      <p class="text-bold pb-0 mb-0">Source :</p>
      <a href="https://www.healthline.com">Healthline</a>
    </div>
  </div>
  <!-- PAGE 5 -->
  <div>
    <div class="uk-grid pt-5">
      <div class="mt-md-0 mt-4 uk-width-3-4">
        <h1 class="title-header">HEALTHIER SWEETENER ALTERNATIVES</h1>
        <div class="mt-2">
          <p class="content-text">
            Consuming too much sugar will raise your blood glucose to high levels, which is dangerous for diabetics. But that doesn’t mean you can’t add some sweetness to your diet! Alternative, non-nutritive sweeteners such as sucralose- and stevia-based products have zero carbohydrates unlike sugar. If you want more natural options, go for honey or coconut sugar, which contains more nutrients. <br />
            <br />
            <span class="text-bold pt-3 mt-3">Sources :</span> <br>
            <a href="https://www.healthline.com">Healthline</a> <br />
            <a href="https://diabetesnsw.com.au">Diabetes NSW & ACT</a>
          </p>
        </div>
      </div>
      <div class="uk-width-1-4 m-auto">
        <img src="/assets/products/cogent/diabeatit/diabeatit-logo.png" />
      </div>
    </div>
    <div class="w-50 m-auto">
      <img src="/assets/products/cogent/diabeatit/page5-img1.png" />
    </div>
  </div>
</div>
