.content-text {
  z-index: 1;
}

/* .container {
  background: url('/assets/products/cogent/diabeatit/page3-img1.png');
  background-repeat: no-repeat;
  height: 1000px;

  background-size: cover;
} */
