<div>
  <div id="footer" class="m-0 py-3" #footerBody>
    <div class="uk-width-expand p-0 footer-text" #footerText>

      <p class="uk-text-center m-auto  py-3">
        <a [routerLink]="['/about']">About</a> | <a [routerLink]="['/contact']">Contact us</a>
      </p>
      <p class="uk-text-center m-auto">2019 All Rights Reserved</p>
      <p class="uk-text-center m-auto">Davenben Enterprises Corp.</p>
      <h4 class="uk-text-center m-auto  py-3">
          Live visitor count: {{counter.count | number }}
      </h4>
      <hr />
    </div>
    <div class="uk-flex uk-flex-center@m w-75 m-auto mt-3">
      <div class="mx-3 d-flex align-items-center align-content-center">
        <a class="footer-link"
        data-toggle="tooltip"
        title="Memo Plus Gold Facebook"
        href="{{ footer.mpgfb }}">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <span class="ml-1 uk-visible@m">Memo Plus Gold</span>
        <!-- <span> Facebook </span> -->
      </div>
      <div class="mx-3 d-flex align-items-center align-content-center">
        <a class="footer-link"
        data-toggle="tooltip"
        title="Cogent db+ Facebook"
        href="{{ footer.cogentdbfb }}">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <span class="ml-1 uk-visible@m">Cogent db+</span>
        <!-- <span> Instagram </span> -->
      </div>
      <div class="mx-3 d-flex align-items-center align-content-center">
        <a class="footer-link"
        data-toggle="tooltip"
        title="Arthrid Facebook"
        href="{{ footer.arthridfb }}">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <span class="ml-1 uk-visible@m">Arthrid</span>
        <!-- <span> Twitter </span> -->
      </div>
    </div>
  </div>
</div>
