#footer {
  /* background-image: url("./assets/footer-bg.jpg"); */
  /* background-color: #8cc63f; */
  min-height: 100px;
  width: 100%;
}

.footer-text {
  color: white;
  font-weight: 600;
}

a {
  color: white;
}
.footer-link:hover, a:hover {
  color: black;
  text-decoration: none;
}

.footer-link {
  color: #0c3525;

}
